.DS_Store
node_modules
code/03-routing-rendering/01-starting-project/.next/trace
code/03-routing-rendering/01-starting-project/.next/cache/fetch-cache/63e5d552f198830fa8cf7ff639e17c6b352e2a12f6cea401ba598e2b5f468265
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/0.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/1.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/2.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/3.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/4.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/5.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/6.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/7.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/8.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/9.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/10.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/11.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/12.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/13.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/14.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/15.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/16.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/17.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/18.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/19.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/20.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/21.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/22.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/23.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/24.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/25.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/26.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/index.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/index.pack.gz.old
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development-fallback/0.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development-fallback/1.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development-fallback/index.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development-fallback/index.pack.gz.old
code/03-routing-rendering/01-starting-project/.next/cache/webpack/edge-server-development/0.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/edge-server-development/1.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/edge-server-development/2.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/edge-server-development/3.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/edge-server-development/4.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/edge-server-development/5.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/edge-server-development/index.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/edge-server-development/index.pack.gz.old
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/0.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/1.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/2.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/3.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/4.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/5.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/6.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/7.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/8.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/9.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/10.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/11.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/12.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/13.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/14.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/15.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/16.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/index.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/index.pack.gz.old
code/03-routing-rendering/01-starting-project/.next/server/_error.js
code/03-routing-rendering/01-starting-project/.next/server/app-paths-manifest.json
code/03-routing-rendering/01-starting-project/.next/server/edge-runtime-webpack.js
code/03-routing-rendering/01-starting-project/.next/server/middleware-build-manifest.js
code/03-routing-rendering/01-starting-project/.next/server/middleware-manifest.json
code/03-routing-rendering/01-starting-project/.next/server/middleware-react-loadable-manifest.js
code/03-routing-rendering/01-starting-project/.next/server/middleware.js
code/03-routing-rendering/01-starting-project/.next/server/next-font-manifest.js
code/03-routing-rendering/01-starting-project/.next/server/next-font-manifest.json
code/03-routing-rendering/01-starting-project/.next/server/pages-manifest.json
code/03-routing-rendering/01-starting-project/.next/server/server-reference-manifest.js
code/03-routing-rendering/01-starting-project/.next/server/server-reference-manifest.json
code/03-routing-rendering/01-starting-project/.next/server/webpack-runtime.js
code/03-routing-rendering/01-starting-project/.next/server/app/_not-found_client-reference-manifest.js
code/03-routing-rendering/01-starting-project/.next/server/app/not-found_client-reference-manifest.js
code/03-routing-rendering/01-starting-project/.next/server/app/not-found.js
code/03-routing-rendering/01-starting-project/.next/server/app/(content)/archive/@archive/[[...filter]]/page_client-reference-manifest.js
code/03-routing-rendering/01-starting-project/.next/server/app/(content)/archive/@archive/[[...filter]]/page.js
code/03-routing-rendering/01-starting-project/.next/server/app/(content)/news/page_client-reference-manifest.js
code/03-routing-rendering/01-starting-project/.next/server/app/(content)/news/page.js
code/03-routing-rendering/01-starting-project/.next/server/app/(content)/news/[slug]/page_client-reference-manifest.js
code/03-routing-rendering/01-starting-project/.next/server/app/(content)/news/[slug]/page.js
code/03-routing-rendering/01-starting-project/.next/server/app/(content)/news/[slug]/@modal/(.)image/page_client-reference-manifest.js
code/03-routing-rendering/01-starting-project/.next/server/app/(content)/news/[slug]/@modal/(.)image/page.js
code/03-routing-rendering/01-starting-project/.next/server/app/(content)/news/[slug]/image/page_client-reference-manifest.js
code/03-routing-rendering/01-starting-project/.next/server/app/(content)/news/[slug]/image/page.js
code/03-routing-rendering/01-starting-project/.next/server/app/(marketing)/page_client-reference-manifest.js
code/03-routing-rendering/01-starting-project/.next/server/app/(marketing)/page.js
code/03-routing-rendering/01-starting-project/.next/server/app/icon.jpg/route.js
code/03-routing-rendering/01-starting-project/.next/server/pages/_app.js
code/03-routing-rendering/01-starting-project/.next/server/pages/_document.js
code/03-routing-rendering/01-starting-project/.next/server/pages/_error.js
code/03-routing-rendering/01-starting-project/.next/server/static/webpack/633457081244afec._.hot-update.json
code/03-routing-rendering/01-starting-project/.next/server/vendor-chunks/@swc.js
code/03-routing-rendering/01-starting-project/.next/server/vendor-chunks/better-sqlite3.js
code/03-routing-rendering/01-starting-project/.next/server/vendor-chunks/bindings.js
code/03-routing-rendering/01-starting-project/.next/server/vendor-chunks/file-uri-to-path.js
code/03-routing-rendering/01-starting-project/.next/server/vendor-chunks/next.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/_error.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app-pages-internals.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/main-app.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/main.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/polyfills.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/react-refresh.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/webpack.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/not-found.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/(content)/layout.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/(content)/not-found.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/(content)/archive/layout.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/(content)/archive/loading.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/(content)/archive/@archive/[[...filter]]/error.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/(content)/archive/@archive/[[...filter]]/page.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/(content)/archive/@latest/default.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/(content)/news/loading.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/(content)/news/page.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/(content)/news/[slug]/layout.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/(content)/news/[slug]/loading.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/(content)/news/[slug]/not-found.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/(content)/news/[slug]/page.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/(content)/news/[slug]/@modal/default.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/(content)/news/[slug]/@modal/(.)image/page.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/(content)/news/[slug]/image/page.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/(marketing)/layout.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/(marketing)/page.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/fallback/amp.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/fallback/main.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/fallback/react-refresh.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/fallback/webpack.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/fallback/pages/_app.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/fallback/pages/_error.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/pages/_app.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/pages/_error.js
code/03-routing-rendering/01-starting-project/.next/static/css/app/(content)/layout.css
code/03-routing-rendering/01-starting-project/.next/static/css/app/(marketing)/layout.css
code/03-routing-rendering/01-starting-project/.next/static/development/_buildManifest.js
code/03-routing-rendering/01-starting-project/.next/static/development/_ssgManifest.js
code/03-routing-rendering/01-starting-project/.next/static/media/logo.881cd247.jpg
code/03-routing-rendering/01-starting-project/.next/static/webpack/01ca8e1bff5fa33c.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/2a33b57b702de7e1.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/3db58daf9dbcb32a.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/5fd2ed581f5009cd.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/7a71762e02380d74.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/107548e3ebc8a29d.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/611392f6a15759d3.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/633457081244afec._.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/c15885834cd95ffd.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/d7ac14466cba4237.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/da3ee75f23c788d9.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/e31c4dda6d055737.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.01ca8e1bff5fa33c.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.2a33b57b702de7e1.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.3db58daf9dbcb32a.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.5fd2ed581f5009cd.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.7a71762e02380d74.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.107548e3ebc8a29d.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.611392f6a15759d3.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.c15885834cd95ffd.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.d7ac14466cba4237.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.da3ee75f23c788d9.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.e31c4dda6d055737.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/app/(content)/archive/@archive/[[...filter]]/page.c15885834cd95ffd.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/app/(content)/archive/@archive/[[...filter]]/page.d7ac14466cba4237.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/app/(content)/news/[slug]/@modal/(.)image/page.da3ee75f23c788d9.hot-update.js
code/03-routing-rendering/01-starting-project/.next/types/package.json
code/03-routing-rendering/01-starting-project/.next/types/app/(content)/layout.ts
code/03-routing-rendering/01-starting-project/.next/types/app/(content)/archive/layout.ts
code/03-routing-rendering/01-starting-project/.next/types/app/(content)/archive/@archive/[[...filter]]/page.ts
code/03-routing-rendering/01-starting-project/.next/types/app/(content)/news/page.ts
code/03-routing-rendering/01-starting-project/.next/types/app/(content)/news/[slug]/layout.ts
code/03-routing-rendering/01-starting-project/.next/types/app/(content)/news/[slug]/page.ts
code/03-routing-rendering/01-starting-project/.next/types/app/(content)/news/[slug]/@modal/(.)image/page.ts
code/03-routing-rendering/01-starting-project/.next/types/app/(content)/news/[slug]/image/page.ts
code/03-routing-rendering/01-starting-project/.next/types/app/(marketing)/layout.ts
code/03-routing-rendering/01-starting-project/.next/types/app/(marketing)/page.ts
code/03-routing-rendering/01-starting-project/backend/package-lock.json
code/03-routing-rendering/01-starting-project/backend/package.json
code/03-routing-rendering/01-starting-project/.next/
code/05-data-mutation/01-starting-project/posts.db
