.DS_Store
node_modules
code/03-routing-rendering/01-starting-project/.next/trace
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/1.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/2.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/3.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/index.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/index.pack.gz.old
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/0.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/1.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/2.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/3.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/index.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/index.pack.gz.old
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/1.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/9.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/1.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/4.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/5.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/6.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/7.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/8.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/9.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/10.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/11.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/12.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/13.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/14.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/15.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/16.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/17.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/index.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/index.pack.gz.old
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/0.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/1.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/2.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/4.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/5.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/6.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/7.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/8.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/9.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/10.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/11.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/index.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/index.pack.gz.old
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/9.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/1.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/4.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/5.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/6.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/7.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/8.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/9.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/index.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/index.pack.gz.old
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/0.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/1.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/2.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/4.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/5.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/6.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/7.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/8.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/9.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/10.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/11.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/index.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/index.pack.gz.old
code/03-routing-rendering/01-starting-project/.next/trace
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/1.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/4.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/5.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/6.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/7.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/8.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/9.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/index.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/index.pack.gz.old
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/0.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/1.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/2.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/4.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/5.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/6.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/7.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/8.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/9.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/10.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/11.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/index.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/index.pack.gz.old
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/8.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/1.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/4.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/5.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/6.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/7.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/8.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/9.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/index.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/index.pack.gz.old
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/0.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/1.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/2.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/4.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/5.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/6.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/7.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/8.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/9.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/10.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/11.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/index.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/index.pack.gz.old
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/1.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/0.pack.gz
code/03-routing-rendering/01-starting-project/.next/trace
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/1.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/4.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/5.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/6.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/7.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/8.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/9.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/index.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/client-development/index.pack.gz.old
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/0.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/1.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/2.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/4.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/5.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/6.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/7.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/8.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/9.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/10.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/11.pack.gz
code/03-routing-rendering/01-starting-project/.next/cache/webpack/server-development/index.pack.gz
code/03-routing-rendering/01-starting-project/.next/server/app-paths-manifest.json
code/03-routing-rendering/01-starting-project/.next/server/middleware-build-manifest.js
code/03-routing-rendering/01-starting-project/.next/server/pages-manifest.json
code/03-routing-rendering/01-starting-project/.next/server/server-reference-manifest.js
code/03-routing-rendering/01-starting-project/.next/server/server-reference-manifest.json
code/03-routing-rendering/01-starting-project/.next/server/webpack-runtime.js
code/03-routing-rendering/01-starting-project/.next/server/app/_not-found_client-reference-manifest.js
code/03-routing-rendering/01-starting-project/.next/server/app/not-found_client-reference-manifest.js
code/03-routing-rendering/01-starting-project/.next/server/app/not-found.js
code/03-routing-rendering/01-starting-project/.next/server/app/page_client-reference-manifest.js
code/03-routing-rendering/01-starting-project/.next/server/app/page.js
code/03-routing-rendering/01-starting-project/.next/server/app/archive/@archive/[[...filter]]/page_client-reference-manifest.js
code/03-routing-rendering/01-starting-project/.next/server/app/archive/@archive/[[...filter]]/page.js
code/03-routing-rendering/01-starting-project/.next/server/app/news/page_client-reference-manifest.js
code/03-routing-rendering/01-starting-project/.next/server/app/news/page.js
code/03-routing-rendering/01-starting-project/.next/server/app/news/[slug]/page_client-reference-manifest.js
code/03-routing-rendering/01-starting-project/.next/server/app/news/[slug]/page.js
code/03-routing-rendering/01-starting-project/.next/server/pages/_app.js
code/03-routing-rendering/01-starting-project/.next/server/pages/_document.js
code/03-routing-rendering/01-starting-project/.next/server/pages/_error.js
code/03-routing-rendering/01-starting-project/.next/server/vendor-chunks/@swc.js
code/03-routing-rendering/01-starting-project/.next/server/vendor-chunks/next.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/_error.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/main.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/react-refresh.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/webpack.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/layout.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/archive/layout.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/archive/@archive/error.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/archive/@archive/[[...filter]]/error.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/archive/@archive/[[...filter]]/page.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/archive/@latest/default.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/news/[slug]/not-found.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/app/news/[slug]/page.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/pages/_app.js
code/03-routing-rendering/01-starting-project/.next/static/chunks/pages/_error.js
code/03-routing-rendering/01-starting-project/.next/static/development/_buildManifest.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/0de8b233666928ed.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/1b004fac21d43922.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/22eb47c57ecc6178.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/47a121df179a5bf7.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/06578c4a3948f637.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/21932a3e77cfb7f8.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/8228445e7bb32b83.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/8966460e00e321bc.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/a2f8ec392af9b7cc.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/ad12fc1ce6c4b8be.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/b6e3f14dc52176fe.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/b8556fa2a4c20fce.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/b03373322a6c925b.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/bf897ffe7f91f5c6.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/dab7b7a9db15eb00.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/de00b71f5ef01ed0.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/e01a79bce35f5af3.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/f72c37531b3e9043.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/fba69df52b19bb26.webpack.hot-update.json
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.0de8b233666928ed.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.1b004fac21d43922.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.22eb47c57ecc6178.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.47a121df179a5bf7.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.06578c4a3948f637.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.21932a3e77cfb7f8.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.8228445e7bb32b83.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.8966460e00e321bc.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.a2f8ec392af9b7cc.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.ad12fc1ce6c4b8be.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.b6e3f14dc52176fe.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.b8556fa2a4c20fce.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.b03373322a6c925b.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.bf897ffe7f91f5c6.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.dab7b7a9db15eb00.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.de00b71f5ef01ed0.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.e01a79bce35f5af3.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.f72c37531b3e9043.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/webpack.fba69df52b19bb26.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/app/layout.0de8b233666928ed.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/app/layout.bf897ffe7f91f5c6.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/app/archive/@archive/[[...filter]]/error.22eb47c57ecc6178.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/app/archive/@archive/[[...filter]]/error.8228445e7bb32b83.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/app/archive/@archive/[[...filter]]/error.b6e3f14dc52176fe.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/app/archive/@archive/[[...filter]]/error.e01a79bce35f5af3.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/app/archive/@archive/[[...filter]]/page.21932a3e77cfb7f8.hot-update.js
code/03-routing-rendering/01-starting-project/.next/static/webpack/app/archive/@archive/[[...filter]]/page.de00b71f5ef01ed0.hot-update.js
code/03-routing-rendering/01-starting-project/.next/
01-starting-project/.next/